body{
  background-color: rgb(211, 255, 201);
}
.home-main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(211, 255, 201);
  padding: 25px;
  padding-bottom: 10px;
  border-radius: 50px;
}
.home-text{
  font-size: 40px;
  margin-top: 70px;
}
.outer-circle-final{
  border-radius: 100%;
  width: 300px;
  height: 300px;
  background-color: rgb(5, 155, 255);
  animation: spin 2s ease-out, fade 0.5s ease-oute;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.inner-circle{
  border-radius: 100%;
  width: 200px;
  height: 200px;
  background-color: rgb(211, 255, 201);
  position: relative;
  left: -250px;
  top: 50px;
}
.country-round{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(5, 155, 255);
  margin-top: 10px;
}
.countries{
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 100px;
  padding: 20px;
  margin: 5px;

}
.global-2023{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(211, 255, 201);
  border-radius: 50px;
}
.country-div{
  display: flex;
  flex-direction: column ;
}
.country-name{
  position: relative;
  margin-top: 10px;
  margin-left: 55px;
  font-size: 18px;
}